{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Niveles de Madurez Equipos IT - Code Quality & Regression Test</h1>
        <p class="lead">Podras Ingresar a cargar o editar equipos.</p>
        <hr class="my-2">
        {{mensaje}}
        <p class="lead"></p>
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Empezar</a>



    </div>
   
</div>


{% endblock %}
