{% extends "base.html" %}

{% block titulo %} Login Erroneo {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        {% load static %}
        <img src="{% static 'equipos/Claro-Logo.png' %}"   height="50"  alt=""> 
        <br>
        <br>
        <h2 class="display-5"><b>:(</b></h2>
        <br>
       {{mensaje}}
       <br>
       <br>
        <!--<p class="lead">Podras Ingresar a cargar o editar equipos.</p>-->
        <hr class="my-2">
       
        <p class="lead"></p>
       
        <a class="btn btn-secondary btn-lg" href="{% url 'inicio' %}" role="button">Volver a intentarlo</a>
       
        

    </div>
   
</div>


{% endblock %}