{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        {% load static %}
        <img src="{% static 'equipos/Claro-Logo.png' %}"   height="50"  alt=""> 
        <br>
        <h3 class="display-5">¿Dudas? ¿Consultas?</h3>
        
        <hr class="my-2">
        
        <p class="lead"></p>
        <p class="lead">Recorda que si tenes alguna duda sobre como cargar los datos, o sobre los niveles, podes enviarnos un mail a: <b>ciclo_de_vida_de_desarrollo@claro.com.ar</b> </p>
        
        <br>
       
        
       
        

    </div>
   
</div>

{% endblock %}
