{% extends "base.html" %}

{% block titulo %} Agregar nuevo Equipo {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Registrar un equipo
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del equipo</h4>
        
         {% include 'abmequipos/form.html' %}


    </div>
    <div class="card-footer text-muted">
        Recorda ante cualquier duda podes contactarnos en ciclo_de_vida_de_desarrollo@claro.com.ar
    </div>
</div>

{% endblock %}
