{% extends "base.html" %}

{% block titulo %} Listado equipos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar Equipo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Equipos</h4>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Jira</th>
                        <th scope="col">Devops</th>
                        <th scope="col">Ref Dev</th>
                        <th scope="col">Ref QA</th>
                        <th scope="col">Nvl Code Quality </th>
                        <th scope="col">Nvl Auto-QA</th>
                        <th scope="col">Comentario</th>
                        
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>

                    {% for abmequipo in abmequipos %}

                    <tr class="">
                        <td>{{abmequipo.id}}</td>
                        <td>{{abmequipo.equipo}}</td>
                        <td>
                           <img src=" {{abmequipo.imagen.url}}" height="50"/> 
                           
                        
                        </td>
                        <td>{{abmequipo.jira}}</td>
                        <td>{{abmequipo.devops}}</td>
                        <td>{{abmequipo.refDev}}</td>
                        <td>{{abmequipo.refQA}}</td>
                        <td>{{abmequipo.nvlCode}}</td>
                        <td>{{abmequipo.nvlAuto}}</td>
                        <td>{{abmequipo.comentario}}</td>
                        
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'editar' abmequipo.id %}" role="Editar">Editar</a><br><br>
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' abmequipo.id %}" role="Editar">Borrar</a></td>
                       

                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        



    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}