{% extends "base.html" %}

{% block titulo %} Listado equipos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Listar equipos
    </div>
    <div class="card-body">
        <h4 class="card-title">Equipos</h4>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Jira</th>
                        <th scope="col">Devops</th>
                        <th scope="col">Ref Dev</th>
                        <th scope="col">Ref QA</th>
                        <th scope="col">Nvl Code Quality </th>
                        <th scope="col">Nvl Auto-QA</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">0</td>
                        <td>prepago</td>
                        <td>imagen.jpg</td>
                        <td>PREP</td>
                        <td>SI</td>
                        <td>Referente1</td>
                        <td>Referente2</td>
                        <td>3</td>
                        <td>2</td>
                        <td>soy un comentario</td>
                        <td>Editar | Borrar</td>
                       

                    </tr>
                    
                </tbody>
            </table>
        </div>
        



    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}